{% include "myApp/basic.html" %}
{% block content %}
{% block body %} 
<style>
  table, td, th {
    border: 1px solid;
  }
  
  table {
    width: 50%;
    border-collapse: collapse;
  }
  .center {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(17, 18, 105);
  padding: 10px;
}
.class-centre {
  margin: auto;
  width: 25%;
  border: 3px solid rgb(17, 18, 105);
  padding: 10px;
}

  </style>

  <div class = center>
<h2>Register</h2>
  <form onsubmit=" myFunction()" action="user_register" method="post" >
      {% csrf_token %}
      <div class="class-center">
        <label for="username">Username:</label>
      <input type="text" id="username" name="username" required><br>
      </div>
      
      <div class="class-center">
        <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br>
      </div>
      
      <div class="class-center">
         <label for="password">Password:</label>
      <input type="password" id="password" name="password" value="">
      <span id = 'message1'></span><br>
      </div>
     
      <div class="class-center"></div>
        <label for="confirm_password" >Confirm Password:</label>
      <input type="password" id="confirm_password" name="confirm_password" value=""><br>
      <span id = 'message2' style="color: red;"></span>
      </div>
      <div class="class-center">
        <input type="submit" value="Register">
      </div>
      
  </form>
  </div>
  
      <table>    
        <tr>
          <th>S.No.</th>
          <th>Name</th>
          <th>Age</th>
        </tr>
        {% for item in people%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{item.name}}</td>
          <td>{{item.age}}</td>
        </tr>
        
        {% endfor %}
      </table>
      </div>

      {{profile_data}}

    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>
<script>
  function myFunction() {
    let pass1 = document.getElementById("password").value
    let pass2 = document.getElementById("confirm_password").value

    if(pass1 ===""){
      document.getElementById("message1").innerHTML="**Please fill the Password"
      return false;
    }
    if(pass1.length < 7){
      document.getElementById("message1").innerHTML="**Password length must be greater then 7"
      return false;
    }
    if(pass1.length > 19){
      document.getElementById("message2").innerHTML="**Password length is too large"
      return false;
    }

    if(pass1!==pass2){
      console.log("Password are not same");
      document.getElementById("massage2").innerHTML="**Password are not same"
      return false;
    }
}
</script>
{% endblock %}
{% endblock %}